.is-bg-pastel-pink {
    background-color: #e5f7ff;
}
.is-margin-top-0 {
    margin-top: 0 !important;
}
.is-justify-content-start {
    justify-content: flex-start !important;
}
.is-text-color-midnight-blue {
    color: #003f57 !important;
}
.is-white-space-wrap {
    white-space: wrap !important;
}
.is-text-bold {
    font-weight: bold;
}
.is-max-height-full {
    max-height: 100% !important;
}
.group-list-item {
    display: flex;
    align-items: start;
    column-gap: 14px;
    font-size: 20px;
}
.group-list-item svg {
    min-width: 12px;
    height: 12px;
}
.group-list-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.group-list-item-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.group-list-items p a,
.group-list-items p .link-icon {
    display: inline-flex;
}
.calender_button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 66px;
}
.button_primary {
    background-color: #f49ac1;
}
.button_secondary {
    background-color: #ffffff;
}
.button_secondary:hover {
    background-color: #f49ac1;
}
.button_primary:hover {
    background-color: #ffffff;
}
.button_primary_text {
    display: block;
}

.calendar-showing-result-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 66px;
}
.calendar-button-container {
    position: relative;
}

.calendar-showing-result {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.layout-switcher {
    background-color: white;
    border: 2px solid #0c2942;
    padding: 16px 40px;
    font-size: 24px;
    border-radius: 25px;
    color: #0c2942;
    cursor: pointer;
    position: relative;
    box-shadow: 0 8px 0 #0c2942;
    transition: all 0.2s ease;
}

.layout-switcher:hover {
    transform: translateY(2px);
    box-shadow: 0 6px 0 #0c2942;
}

.layout-switcher.active {
    transform: translateY(6px);
    box-shadow: 0 2px 0 #0c2942;
}

.calendar-dropdown {
    position: absolute;
    top: calc(100% - -10px);
    right: 0;
    background: white;
    border: 2px solid #0c2942;
    border-radius: 25px;
    padding: 20px;
    min-width: 200px;
    box-shadow: 8px 8px 0 #0c2942;
    display: none;
    z-index: 1000;
}

.calendar-dropdown.show {
    display: block;
}

.calendar-dropdown-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;
    color: #0c2942;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.2s ease;
}

.calendar-dropdown-item:hover {
    background-color: #f0f7ff;
}

.calendar-dropdown-icon {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.table-grid-container {
    max-width: 100%;
    border-radius: 8px;
}

.table-grid {
    min-width: 1200px;
    display: flex;
    flex-direction: column;
}

.table-grid-row {
    display: grid;
    grid-template-columns: 2fr 0.87fr 0.88fr 0.87fr 0.75fr 0.5fr;
    position: relative;
    cursor: pointer;
}

.table-grid-header,
.table-grid-cell {
    padding: 16px;
    border-bottom: 1px solid #b3d9ff;
    display: flex;
    align-items: center;
}

.table-grid-header {
    font-weight: 600;
    color: #333;
}

.table-grid-row:nth-child(odd) > .table-grid-cell {
    background-color: #e5f7ff;
}

.table-grid-row:nth-child(even) > .table-grid-cell {
    background-color: #d9f1fa;
}

.table-grid-row:hover > .table-grid-cell {
    background-color: #9bd1e9;
}

.action-button {
    background: none;
    border: 2px solid #0056b3;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
}

.action-button:hover {
    background-color: #d4e9ff;
}

.action-button svg {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: #0056b3;
    stroke-width: 2;
}
.table-grid-icon-1 {
    display: block;
}
.table-grid-icon-2 {
    display: none;
}
.table-grid-row:hover .table-grid-icon-1 {
    display: none;
}
.table-grid-row:hover .table-grid-icon-2 {
    display: block;
}
.table-grid-row:hover .calendar-table-card {
    opacity: 1;
    transform: translateY(-40px);
    pointer-events: auto;
}

.calendar-table-card {
    display: flex;
    justify-content: center;
    max-width: 648px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 8px 8px 0 #0c2942;
    position: absolute;
    bottom: 0;
    left: 116px;
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.calendar-table-card-image-wrapper {
    width: 50%;
}
.calendar-table-card-image {
    width: 100%;
    height: 100%;
}

.calendar-table-card-content {
    width: 50%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendar-table-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003366;
    margin-bottom: 1rem;
}

.calendar-table-card-description {
    font-size: 1rem;
    color: #333333;
    line-height: 1.5;
}

.content-div {
    display: none;
}
#div-1 {
    display: block;
}

@media only screen and (max-width: 1024px) {
    .group-list-item {
        font-size: 16px;
    }
    .table-grid-container {
        overflow-x: auto !important;
        width: 100%;
    }

    .grid-header:nth-child(4),
    .grid-header:nth-child(5),
    .grid-cell:nth-child(4),
    .grid-cell:nth-child(5) {
        display: none;
    }

    .calender_button_wrapper {
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 24px;
    }
}

@media only screen and (max-width: 768px) {
    .calendar-dropdown {
        min-width: 150px;
        padding: 12px;
    }
    .calendar-dropdown-item {
        padding: 12px;
        font-size: 16px;
    }
    .calendar-dropdown-icon {
        width: 16px;
        height: 16px;
    }
    .calendar-table-card {
        display: none;
    }
    .calendar-showing-result-wrapper {
        padding-top: 40px;
    }
    .calender_button_wrapper {
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 24px;
    }
    .layout-switcher {
        padding: 16px 28px;
        font-size: 16px;
    }
}

/* ---------------------------------- */
/* --------- filter and map view --------- */
.header-map-view {
    max-width: 100%;
    padding: 24px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #003f57;
}
/* filter start */
.filter {
    display: flex;
    gap: 16px;
    align-items: flex-end;
    max-width: 100%;
    padding-top: 80px;
}

/* input box */
.filter_input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
.filter_input--search {
    flex: 1;
    min-width: 200px;
}
.filter_input label {
    font-size: 16px;
    color: #082f42;
    font-weight: 600;
}

.filter_input input {
    width: 100%;
    height: 54px;
    border-radius: 12px;
    border: 2px solid #082f42;
    padding: 18px;
    background: transparent;
}
.filter_input input:focus {
    outline-color: #082f42;
}

.filter_input input:hover {
    box-shadow: inset 0 -3px 0 0 #252d4a;
}

.filter_input input::placeholder {
    color: #082f42;
    font-size: 16px;
    font-weight: 500;
}
@media screen and (max-width: 1120px) {
    .filter {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 767px) {
    .filter_input {
        min-width: 100%;
    }
}
/* select box */
.custom_select_wrapper {
    position: relative;
    display: inline-block;
    width: 232px;
    height: 54px;
}

.custom_select_wrapper select {
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 16px;
    font-size: 16px;
    color: #082f42;
    border: 2px solid #082f42;
    border-radius: 12px;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}
.custom_select_wrapper select:hover {
    box-shadow: inset 0 -3px 0 0 #252d4a;
}

.custom_select_wrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #082f42;
    top: 0%;
    right: 54px;
    pointer-events: none;
}

.custom_select_wrapper::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M21.7041 8.20506L12.7047 17.2044C12.3155 17.5936 11.6845 17.5936 11.2953 17.2044L2.29591 8.20506C1.66806 7.57721 2.11273 6.50369 3.00064 6.50369L20.9994 6.50369C21.8873 6.50369 22.3319 7.57721 21.7041 8.20506Z" stroke="%23082F42" stroke-width="2"/></svg>')
        no-repeat center;
    background-size: contain;
    pointer-events: none;
}

/* date */
.custom_date_wrapper {
    position: relative;
    display: inline-block;
    width: 232px;
    appearance: none;
}

.custom_date_wrapper input {
    appearance: none;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #082f42;
    border: 2px solid #082f42;
    border-radius: 12px;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}

.custom_date_wrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #082f42;
    top: 0%;
    right: 54px;
    pointer-events: none;
}

.custom_date_wrapper::after {
    appearance: none;
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z' stroke='%23082F42' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V6' stroke='%23082F42' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 2V6' stroke='%23082F42' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 10H21' stroke='%23082F42' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.custom_date_wrapper input[type="date"] {
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none; /* Firefox */
    appearance: none;
}

.custom_date_wrapper input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

@media screen and (max-width: 767px) {
    .custom_select_wrapper,
    .custom_date_wrapper,
    .custom_date_wrapper {
        width: 100%;
    }
}

/* date calender container */
.datepicker {
    /*position: absolute;*/
    /*top: calc(100% + 10px);*/
    /*right: 0;*/
    width: 686px;
    max-width: 80vw;
    padding: 32px;
    border-radius: 20px;
    border: 2px solid #003f57;
    box-shadow: 8px 8px 0px 0px #042a39;
    z-index: 1000;
    background-color: #ffffff;
    display: none;
}
.datepicker[data-show] {
    display: block;
}
.datepicker_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-bottom: 32px;
}
.close {
    cursor: pointer;
}
.datepicker_title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.datepicker_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.datepicker_inner_footer {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
    .datepicker_inner_footer {
        width: 100%;
    }
    .datepicker {
        max-height: 550px;
        overflow: auto;
    }
}
.datepicker_footer_btn {
    height: 39px;
    padding: 0 16px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #003f57;
    border: 2px solid #003f57;
    cursor: pointer;
}
.datepicker_footer_btn_last {
    padding: 0 30px;
    height: 52px;
    border-radius: 12px;
    background: #003f57;
    border: 2px solid #003f57;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
}

/* Calender */

[data-calendar-theme="light"].vanilla-calendar {
    background-color: transparent;
}
[data-calendar-theme="light"] .vanilla-calendar-day {
    background-color: transparent;
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn {
    font-size: 0.875rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
[data-calendar-theme="light"] .vanilla-calendar-day_selected-first .vanilla-calendar-day__btn,
[data-calendar-theme="light"] .vanilla-calendar-day_selected-last .vanilla-calendar-day__btn,
[data-calendar-theme="light"] .vanilla-calendar-day_hover-first .vanilla-calendar-day__btn,
[data-calendar-theme="light"] .vanilla-calendar-day_hover-last .vanilla-calendar-day__btn {
    border-radius: 50%;
}
[data-calendar-theme="light"] .vanilla-calendar-day_selected-first {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #d9f1fa;
}
[data-calendar-theme="light"] .vanilla-calendar-day_selected-last {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #d9f1fa;
}
[data-calendar-theme="light"] .vanilla-calendar-day_selected-intermediate {
    border-radius: 0;
    background-color: #d9f1fa;
}
[data-calendar-theme="light"] .vanilla-calendar-day_hover-intermediate .vanilla-calendar-day__btn {
    background-color: #d9f1fa;
    border-radius: 0;
}

.datepicker_title,
[data-calendar-theme="light"] .vanilla-calendar-header__content,
[data-calendar-theme="light"] .vanilla-calendar-month,
[data-calendar-theme="light"] .vanilla-calendar-year,
[data-calendar-theme="light"] .vanilla-calendar-day__btn,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday {
    color: #003f57;
}
[data-calendar-theme="light"] .vanilla-calendar-week__day,
[data-calendar-theme="light"] .vanilla-calendar-week__day_weekend {
    color: #717171;
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn {
    background-color: transparent;
}
[data-calendar-theme="light"] .vanilla-calendar-day_hover-intermediate .vanilla-calendar-day__btn_selected {
    border-radius: 50%;
}
[data-calendar-theme="light"] .vanilla-calendar-day_hover-intermediate .vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_selected:hover,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_selected:hover {
    background-color: #003f57;
    color: #fff;
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_selected:hover {
    color: #fff;
}
[data-calendar-theme="light"]
    .vanilla-calendar-day_selected-intermediate
    .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
    .vanilla-calendar-day_selected-intermediate
    .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"]
    .vanilla-calendar-day_selected-intermediate
    .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_selected:hover,
[data-calendar-theme="light"]
    .vanilla-calendar-day_selected-intermediate
    .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_selected:hover {
    background-color: #d9f1fa;
    color: #003f57;
}
[data-calendar-theme="light"] .vanilla-calendar-day_selected-intermediate .vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"] .vanilla-calendar-day_selected-intermediate .vanilla-calendar-day__btn_selected:hover {
    background-color: #d9f1fa;
    color: #003f57;
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn_selected,
[data-calendar-theme="light"] .vanilla-calendar-day__btn_selected:hover {
    background-color: #003f57;
}

.vanilla-calendar * {
    /*font-family: "Lato", "Helvetica", "Arial", sans-serif;*/
}

.vanilla-calendar_multiple {
    width: 686px !important;
    padding: 0px;
}

.vanilla-calendar-column {
    flex-grow: 1;
}

.vanilla-calendar-time__keeping {
    background: transparent;
    border: 0;
    padding: 0;
}

[data-calendar-theme="light"] .vanilla-calendar-arrow:before {
    background-image: none;
}
.vanilla-calendar-arrow_prev {
    left: -16px;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D'32'%20height%3D'32'%20viewBox%3D'0%200%2032%2032'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Crect%20x%3D'0.5'%20y%3D'0.5'%20width%3D'31'%20height%3D'31'%20rx%3D'15.5'%20stroke%3D'%23003F57'%2F%3E%3Crect%20x%3D'22.4165'%20y%3D'16.7292'%20width%3D'5.97827'%20height%3D'1.45833'%20transform%3D'rotate(180%2022.4165%2016.7292)'%20fill%3D'%23082F42'%2F%3E%3Cpath%20d%3D'M14.8464%2021.2868L10.0982%2016.5387C9.80073%2016.2412%209.80073%2015.7588%2010.0982%2015.4613L14.8464%2010.7132C15.3263%2010.2333%2016.1468%2010.5732%2016.1468%2011.2518L16.1468%2020.7481C16.1468%2021.4268%2015.3263%2021.7667%2014.8464%2021.2868Z'%20fill%3D'%23082F42'%20stroke%3D'%23082F42'%20stroke-width%3D'0.583333'%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.vanilla-calendar-arrow_next {
    right: -16px;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D'32'%20height%3D'32'%20viewBox%3D'0%200%2032%2032'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Crect%20x%3D'0.5'%20y%3D'0.5'%20width%3D'31'%20height%3D'31'%20rx%3D'15.5'%20stroke%3D'%23003F57'%2F%3E%3Crect%20x%3D'9.5835'%20y%3D'15.2708'%20width%3D'5.97827'%20height%3D'1.45833'%20fill%3D'%23082F42'%2F%3E%3Cpath%20d%3D'M17.1536%2010.7132L21.9018%2015.4613C22.1993%2015.7588%2022.1993%2016.2412%2021.9018%2016.5387L17.1536%2021.2868C16.6737%2021.7667%2015.8532%2021.4268%2015.8532%2020.7481L15.8532%2011.2518C15.8532%2010.5732%2016.6737%2010.2333%2017.1536%2010.7132Z'%20fill%3D'%23082F42'%20stroke%3D'%23082F42'%20stroke-width%3D'0.583333'%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.vanilla-calendar-controls {
    top: -20px;
}
.vanilla-calendar-header {
    margin-bottom: 2rem;
}
.bg-orange {
    background-color: #ffc107 !important;
    color: #fff !important;
}

.bg-red {
    background-color: #ff5050 !important;
    color: #fff !important;
}

.text-bold {
    font-weight: bold !important;
}

/* search button */

.top_search_btn {
    height: 54px;
    width: 127px;
    background-color: #082f42;
    border: 2px solid #082f42;
    color: #ffffff;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    animation: ease-in-out 0.2s;
}
.top_search_btn:hover {
    background-color: #ffffff;
    color: #082f42;
}
.top_search_btn svg {
    stroke: #ffffff;
}
.top_search_btn:hover svg {
    stroke: #042a39;
}

/* divider area conatiner */
.divider_area_container {
    display: flex;
}
.divider_area_left {
    max-width: 560px;
    border-right: 2px solid #082f42;
    height: calc(100vh - 129px);
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}
.divider_area_filter_section {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divider_area_filter_section_text {
    color: #082f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.divider_area_filter_section_text span {
    font-weight: 700;
}
.divider_area_left_grid {
    width: 550px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
/* card */
.card_container {
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 2px solid #082f42;
    border-radius: 12px;
    max-width: 239px;
    height: 291px;
    background-color: #ffffff;
}

.card_container_img_area {
    position: relative;
}
.hover_card_container_img_area img {
    border-bottom: 2px solid #082f42;
    height: 180px;
    width: 100%;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}
.card_container_inner_img_area img {
    border-bottom: 2px solid #082f42;
    height: 150px;
    width: 100%;
    border-radius: 12px 12px 0 0;
}
.card_container_inner_img_area_icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    height: 52px;
    width: 52px;
    border-radius: 0 12px 0 12px;
    background: #d9eefb;
    border-left: 2px solid #003f57;
    border-bottom: 2px solid #003f57;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card_container_inner_img_area_icon img {
    height: 17.33px;
    width: 17.33px;
    z-index: 20;
}
.card_conatiner_title {
    font-size: 18px;
    font-weight: 600;
    color: #003f57;
}
.card_container_text_area {
    padding: 18px;
}
.card_conatiner_desc {
    display: flex;
    gap: 8px;
    margin-top: 2px;
    align-items: center;
}
.card_conatiner_desc_one {
    margin-top: 10px;
}
.card_conatiner_text {
    font-size: 15px;
    font-weight: 500;
    color: #003f57;
    line-height: 22.5px;
}

/* map */
#map {
    height: calc(100vh - 129px);
    width: calc(100vw - 560px);
    position: fixed;
}

/* map marker hover card */

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    font-family: Arial, sans-serif;
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    box-shadow: 6px 6px 0px 0px #003f57;
}
.leaflet-popup-content-wrapper {
    padding: 0;
}
.leaflet-popup-content {
    width: 100%;
    margin: 0px;
}
.hover_card_container_img_area img {
    width: 100%;
    height: auto;
    display: block;
}
.card_container_text_area {
    padding: 18px;
}
.card_conatiner_title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
}
.card_conatiner_desc {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.card_conatiner_desc img {
    margin-right: 8px;
}
.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    background: #e5f7ffe5;
    border: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1.89px 1.89px 0px #00000040;
}
